<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!doctype html>

<html lang="en" ng-app="fantasyApp">
	<head>
	  <meta charset="utf-8">

	  <title>Fantasy Football Example</title>
	  <meta name="description" content="Fantasy Football Angular Demo">
	  <meta name="author" content="Hugh Emrick">

	  
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	  <script data-require="angular.js@1.2.16" data-semver="1.2.16" 
	    src="https://code.angularjs.org/1.2.16/angular.js"></script>

	  <script src="scripts/fantasy_api_scripts.js"></script>
	  <link rel="stylesheet" href="styles/general_formatting.css">
	</head>

	<body ng-controller="MainCtrl">

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Fantasy Angular App</a>
				</div>

				<div class="collapse navbar-collapse" id="navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
						<li><a href="#">Link</a></li>
						<li class="dropdown">
							<a href="#" class="drodown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another Action</a></li>
								<li><a href="#">Third Action</a></li>
							</ul>
						</li>
					</ul>
					<form class="navbar-form navbar-right">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search">
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
			</div>
		</nav>

		<div class="container">

			<div id="rb-results" class="table-results">
			  <table class="table">
			  	<thead>
			  		<h3>Running Backs This Week</h3>
				 	<tr>
				 		<th>Ranking</th>
					  	<th>Player Name</th>
					  	<th>Standard</th>
					  	<th>Standard High</th>
					  	<th>Standard Low</th>
					  	<th>PPR</th>
					  	<th>PPR High</th>
					  	<th>PPR Low</th>
					  	<th>Team</th>
			  		</tr>
			  	</thead>
			  	<tr ng-repeat="player in topRBs.Rankings">
			  		<td>{{$index + 1}}</td>
			  		<td>{{player.name}}</td>
			  		<td>{{player.standard}}</td>
			  		<td>{{player.standardHigh}}</td>
			  		<td>{{player.standardLow}}</td>
			  		<td>{{player.ppr}}</td>
			  		<td>{{player.pprHigh}}</td>
			  		<td>{{player.pprLow}}</td>
			  		<td>{{player.team}}</td>
			  	</tr>
			  </table>
			</div>

		  <!-- Testing for QB's -->
		  <div id="qb-results" class="table-results">
			  <table class="table">
			  	<thead>
			  		<h3>Quarter Backs This Week</h3>
				 	<tr>
				 		<th>Ranking</th>
					  	<th>Player Name</th>
					  	<th>Standard</th>
					  	<th>Standard High</th>
					  	<th>Standard Low</th>
					  	<th>PPR</th>
					  	<th>PPR High</th>
					  	<th>PPR Low</th>
					  	<th>Team</th>
			  		</tr>
			  	</thead>
			  	<tr ng-repeat="player in topQBs.Rankings">
			  		<td>{{$index + 1}}</td>
			  		<td>{{player.name}}</td>
			  		<td>{{player.standard}}</td>
			  		<td>{{player.standardHigh}}</td>
			  		<td>{{player.standardLow}}</td>
			  		<td>{{player.ppr}}</td>
			  		<td>{{player.pprHigh}}</td>
			  		<td>{{player.pprLow}}</td>
			  		<td>{{player.team}}</td>
			  	</tr>
			  </table>	
		  </div>

		  <!-- Testing for WR's -->
		  <div id="wr-results" class="table-results">
			  <table class="table">
			  	<thead>
			  		<h3>Wide Receivers This Week</h3>
				 	<tr>
				 		<th>Ranking</th>
					  	<th>Player Name</th>
					  	<th>Standard</th>
					  	<th>Standard High</th>
					  	<th>Standard Low</th>
					  	<th>PPR</th>
					  	<th>PPR High</th>
					  	<th>PPR Low</th>
					  	<th>Team</th>
			  		</tr>
			  	</thead>
			  	<tr ng-repeat="player in topWRs.Rankings">
			  		<td>{{$index + 1}}</td>
			  		<td>{{player.name}}</td>
			  		<td>{{player.standard}}</td>
			  		<td>{{player.standardHigh}}</td>
			  		<td>{{player.standardLow}}</td>
			  		<td>{{player.ppr}}</td>
			  		<td>{{player.pprHigh}}</td>
			  		<td>{{player.pprLow}}</td>
			  		<td>{{player.team}}</td>
			  	</tr>
			  </table>	
		  </div>

		  <!-- Testing for TE's -->
		  <div id="te-results" class="table-results">
			  <table class="table">
			  	<thead>
			  		<h3>Tight Ends This Week</h3>
				 	<tr>
				 		<th>Ranking</th>
					  	<th>Player Name</th>
					  	<th>Standard</th>
					  	<th>Standard High</th>
					  	<th>Standard Low</th>
					  	<th>PPR</th>
					  	<th>PPR High</th>
					  	<th>PPR Low</th>
					  	<th>Team</th>
			  		</tr>
			  	</thead>
			  	<tr ng-repeat="player in topTEs.Rankings">
			  		<td>{{$index + 1}}</td>
			  		<td>{{player.name}}</td>
			  		<td>{{player.standard}}</td>
			  		<td>{{player.standardHigh}}</td>
			  		<td>{{player.standardLow}}</td>
			  		<td>{{player.ppr}}</td>
			  		<td>{{player.pprHigh}}</td>
			  		<td>{{player.pprLow}}</td>
			  		<td>{{player.team}}</td>
			  	</tr>
			  </table>	
		  </div>

		  <!-- Testing for DEF's -->
		  <div id="def-results" class="table-results">
			  <table class="table">
			  	<thead>
			  		<h3>D/STs This Week</h3>
				 	<tr>
				 		<th>Ranking</th>
					  	<th>Player Name</th>
					  	<th>Standard</th>
					  	<th>Standard High</th>
					  	<th>Standard Low</th>
					  	<th>PPR</th>
					  	<th>PPR High</th>
					  	<th>PPR Low</th>
					  	<th>Team</th>
			  		</tr>
			  	</thead>
			  	<tr ng-repeat="player in topDEFs.Rankings">
			  		<td>{{$index + 1}}</td>
			  		<td>{{player.name}}</td>
			  		<td>{{player.standard}}</td>
			  		<td>{{player.standardHigh}}</td>
			  		<td>{{player.standardLow}}</td>
			  		<td>{{player.ppr}}</td>
			  		<td>{{player.pprHigh}}</td>
			  		<td>{{player.pprLow}}</td>
			  		<td>{{player.team}}</td>
			  	</tr>
			  </table>	
		  </div>

		  <!-- Testing for K's -->
		  <div id="k-results" class="table-results">
			  <table class="table">
			  	<thead>
			  		<h3>Kickers This Week</h3>
				 	<tr>
				 		<th>Ranking</th>
					  	<th>Player Name</th>
					  	<th>Standard</th>
					  	<th>Standard High</th>
					  	<th>Standard Low</th>
					  	<th>PPR</th>
					  	<th>PPR High</th>
					  	<th>PPR Low</th>
					  	<th>Team</th>
			  		</tr>
			  	</thead>
			  	<tr ng-repeat="player in topKs.Rankings">
			  		<td>{{$index + 1}}</td>
			  		<td>{{player.name}}</td>
			  		<td>{{player.standard}}</td>
			  		<td>{{player.standardHigh}}</td>
			  		<td>{{player.standardLow}}</td>
			  		<td>{{player.ppr}}</td>
			  		<td>{{player.pprHigh}}</td>
			  		<td>{{player.pprLow}}</td>
			  		<td>{{player.team}}</td>
			  	</tr>
			  </table>	
		  </div>
	  	</div>
	</body>
</html>